################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SCDemoFaceRec.Web/SCDemo FaceRec Web/Models/Person.cs
